<p style="color: green"><%= notice %></p>

<%= render @portfolio %>

<div>
  <%= link_to "Edit", edit_portfolio_path(@portfolio) %> |
  <%= button_to "Destroy", @portfolio, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }  %> |
  <%= link_to "Back", portfolios_path %>
</div>