<p style="color: green"><%= notice %></p>

<%= render @portfolio %>

<div>
  <%= link_to "Edit", edit_portfolio_path(@portfolio) %> |
  <%= link_to "Back to portfolios", portfolios_path %>

  <%= button_to "Delete", @portfolio, method: :delete %>
</div>